@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-image: url(./img/DSC00030.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3rem;
  font-size: 24px;
  color: white;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  transition: all 300ms ease;
  animation: baseline 0.5s forwards cubic-bezier(0.4, 0, 0.39, 1.04);
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  letter-spacing: 0.3rem;
  font-size: 12px;
  color: white;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  transition: all 300ms ease;
  margin-left: 1em;
  animation: baseline2 0.8s forwards cubic-bezier(0.4, 0, 0.39, 1.04);
}

.fas {
  font-size: 24px;
  color: white;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

a {
  text-decoration: none;
  color: white;
}

.fa-times {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    326deg,
    rgba(0, 0, 0, 0.46262254901960786) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0;
  transition: all 500ms ease;

  position: fixed;
  width: 100vw;
  border-bottom: 1px solid white;

  #burgerBtn {
    z-index: 100;
    cursor: pointer;
    animation: baseline3 0.8s forwards cubic-bezier(0.4, 0, 0.39, 1.04);
  }
}

.headAnim {
  opacity: 1;
}

.homePage {
  position: relative;
  height: 100vh;
  text-align: center;

  h1 {
    margin-top: 1em;
    font-size: 34px;
  }

  h3 {
    font-size: 18px;
  }
}

.mobileNav {
  position: fixed;
  z-index: 100;
  width: 80vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    326deg,
    rgba(0, 0, 0, 0.46262254901960786) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  right: -100%;
  top: 0%;
  transition: all 300ms ease;

  ul {
    list-style: none;
    margin-top: 2em;

    #crossBtn {
      position: absolute;
      top: 0%;
      right: 0%;
      z-index: 300;
      cursor: pointer;
      margin-top: 0.4em;
      margin-right: 0.4em;
    }

    li {
      font-family: "Poppins", sans-serif;
      letter-spacing: 0.2em;
      align-items: center;
      margin-left: 1rem;
      margin-top: 1rem;
      color: white;
    }
  }
}

.page1 {
  h1 {
    padding-top: 2em;
    margin-bottom: 1em;
  }
  text-align: center;
  background-color: #00000087;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  height: 100vh;
  position: relative;
}

// ANIMATIONS

//Title animation

@keyframes baseline {
  0% {
    transform: translateY(-140%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes baseline2 {
  0% {
    transform: translateX(-140%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes baseline3 {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(0);
  }
}

//Animation Nav Mobile

.openNav {
  right: 0%;
}

//Animation arrow

.arrow {
  position: absolute;
  top: 22em;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  transform: rotate(225deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(225deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(225deg) translate(20px, 20px);
  }
}

//CAROUSEL

.cardsArrow {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  top: 45%;

  .leftArrow {
    position: relative;
    left: 1em;
    z-index: 100;
  }

  .rightArrow {
    position: relative;
    right: 1em;
    z-index: 100;
  }
}
.cardsContainer {
  display: flex;
  position: absolute;
  transition: all 300ms ease;
  left: -0%;
  top: 25%;

  .container {
    width: 100vw;
  }

  .swiperCards {
    position: absolute;
  }
}

.moveRight {
  left: -100%;
}

.moveRight2 {
  left: -200%;
}

.moveRight3 {
  left: -300%;
}

@keyframes swipe {
  0% {
    margin: 0;
    transform: rotate(0deg);
  }

  100% {
    margin-right: 20px;
    transform: rotate(-5deg);
  }
}

.handswipe {
  animation: swipe 0.8s alternate infinite; /* IE 10+, Fx 29+ */
  animation-timing-function: ease;
  position: absolute;
  bottom: 95px;
  width: 100px;
  right: 32%;
  top: 27%;
  z-index: 100;
  img {
    width: 50%;
    filter: invert(100%);
  }
}

//CARDS

.container {
  height: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.border {
  height: 369px;
  width: 245px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  height: 379px;
  width: 259px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("./img/sagacosmica.png") center center no-repeat;
  background-size: 400px;
}
.card0:hover {
  background: url("./img/sagacosmica.png") bottom center no-repeat;
  background-size: 610px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}

.card0:hover .listenBtn {
  opacity: 1;
}

.card1 {
  background: url("./img/oliv.png") top center no-repeat;
  background-size: 400px;
}
.card1:hover {
  background: url("./img/oliv.png") top center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}

.card1 .listenBtn {
  background: linear-gradient(326deg, rgba(0, 0, 0, 0.462623) 0%, black 100%);
  background-color: #f68a83;
}

.card1:hover .listenBtn {
  opacity: 1;
}

.card2 {
  background: url("./img/laloma.jpg") top center no-repeat;
  background-size: 400px;
  h2,
  .fa {
    color: black;
  }
}
.card2:hover {
  background: url("./img/laloma.jpg") top center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}

.card2 .listenBtn {
  background: linear-gradient(326deg, rgba(0, 0, 0, 0.462623) 0%, black 100%);
  background-color: #f89f4c;
}

.card2:hover .listenBtn {
  opacity: 1;
}

.card3 {
  background: url("./img/Stella.jpg") right center no-repeat;
  background-size: 600px;
}
.card3:hover {
  background: url("./img/Stella.jpg") left center no-repeat;
  background-size: 800px;
}
.card3:hover h2 {
  opacity: 1;
}
.card3:hover .fa {
  opacity: 1;
}

.card3:hover .listenBtn {
  opacity: 1;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa,
.listenBtn {
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.listenBtn {
  font-family: "Oswald", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 1px solid white;

  outline: none;
  width: 8em;
  height: auto;
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  border-radius: 10px;
  box-shadow: 3px 6px 6px 1px black;
  letter-spacing: 5px;
  background: linear-gradient(326deg, rgba(0, 0, 0, 0.462623) 0%, black 100%);
  background-color: #77a185;
  cursor: pointer;
}

.listenBtn:hover {
  background: linear-gradient(
    326deg,
    rgba(255, 255, 255, 0.463) 0%,
    black 100%
  );
  background-color: #8b2635;
}

//****a propos****
.bloc2 {
  margin-top: 3em;
  text-align: center;
  height: 100vh;
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
  h1 {
    padding-top: 2.5em;
  }

  .aboutbox {

    margin-top: 1em;
    backdrop-filter: blur(18px);
    border-top: 2px solid black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
    width: 80vw;
    
    h3 {
      font-size: 20px;
    
      
    }
    .boxContent {
      display: flex;
      justify-content: space-around;
      text-align: end;
      align-items: center;
      ul {
        list-style: none;
      }
      li {
        font-family: "Oswald", sans-serif;
        font-weight: 200;
        letter-spacing: 0.3rem;
        font-size: 12px;
        color: white;
        margin-top: 0.25rem;
        margin-left: 0.5rem;
        margin-bottom: 0.25rem;
        transition: all 300ms ease;
        margin-left: 1em;
      }
      img {
        width: 30%;
        background-color: #fbab7e;
        background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
        border-radius: 10px;
        border: 2px solid black;
      }
    }
  }
}

.pluginContent, .expContent{


  ul{
    text-align: start;
    white-space: nowrap;
  }
  
}


#pricing{
  ul{
    text-align: center;
  }
}